<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top" style ="width:100%; height: 80px;" >
			<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
						Server
						</a>
						<div class="dropdown-menu">
						<a class="dropdown-item" onclick="openDBForm('SQL Server')">SQL Server</a>
						<a class="dropdown-item" onclick="openDBForm('MySQL')">MySQL</a>
						<a class="dropdown-item" onclick="openDBForm('PostgreSQL')">PostgreSQL</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
						Data
						</a>
						<div class="dropdown-menu">
						<a class="dropdown-item" onclick="openFileField('Excel')">Excel</a>
						<a class="dropdown-item" onclick="openFileField('Csv')">CSV File</a>
						</div>
					</li>
				</ul>
				<form class="d-flex nav-item dropdown">
					<a class="nav-link dropdown-toggle text-dark text-center" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
						{{request.name}}
					</a>
					<ul class="dropdown-menu navbar-light">
						<li><a class="dropdown-item" href ="/testing">My Profile</a></li>
						<li><a class="dropdown-item" href="logout">Logout</a></li>
					</ul>
				</form>
			</div>
		</nav>
		<div class="modal fade" id="dbFromModal" tabindex="-1" aria-labelledby="dbFromModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="dbform_modal_title">Connect Database</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body" id ="connectionForm">
						<form method = "post" class = "needs-validation" novalidate name="dbForm" id="dbForm" style ="width:100; min-height:75%">
							<div class = "form-group">
								<input type ="hidden" id="drivername" name ="drivername" class = "form-control">
							</div>
							<div class = "form-group">
								<label for ="servername">Server Name</label><span style ="color:red">*</span>
								<input type ="text" id="servername" name ="servername" class = "form-control" required>
							</div>
							<div class = "form-group">
								<label for ="dbname">DatabaseName</label><span style ="color:red">*</span>
								<input type ="text" id="dbname" name ="dbname"class = "form-control" required>
							</div>
							<div class = "form-group">
								<label for ="port">Port</label><span style ="color:red">*</span>
								<input type ="text" id="port" name ="port"class = "form-control" required>
							</div>
							<div class = "form-group">
								<label for ="username">User Name</label><span style ="color:red">*</span>
								<input type ="text" id="username" name ="username"class = "form-control" required>
							</div>
							<div class = "form-group">
								<label for ="password">Password</label><span style ="color:red">*</span>
								<input type ="text" id="password" name ="password"class = "form-control" required>
							</div>
							<input type ="text" style="visibility:hidden" id ="error_connection_field">
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<input type = "submit" value = "Connect" class = "btn btn-info" id = "submitbtn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="tablelist" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-scrollable ">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Table List</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body d-flex overflow-hidden" id="tableList">
						<div class="col-4 overflow-auto"style="margin-right:5px;">
							<div class="input-group pb-3">
								<input type="text" class="form-control" placeholder="search" id="searchField">
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
								</div>
							</div>
							<form method="post" class="w-100 min-vh-75" id ="checkboxsection">
								<div class="checkboxFields" id ="checkboxFields">
								</div>
								
							</form>
						</div>
						<div class="col-8" style="border-left: 2px solid #e9ecef;overflow-x:auto">
							<h1>Preview</h1>
							<p>This division shows the visualization of Data</p>
						</div>
					</div>
					<div class="modal-footer">
						<form action="/sourcerecords" method ="post" onsubmit="return sources_details()">
							<input type="hidden" id = "checked_tables" name ="checked_tables">
							<input type = "hidden" id ="source_details" name="source_details">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<input type="submit" value="Load" class="btn btn-info" id="load_btn">	
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="errormodal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
			<div class="modal-dialog  modal-dialog-scrollable ">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Error!</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body d-flex overflow-hidden" id="errormessage">
						<div id="error_message_field"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<input type="submit" value="Ok" class="btn btn-info" id="submitbtn">
					</div>
				</div>
			</div>
		</div>
		<div>
			<input type="file" id="file_input" style="visibility:hidden">
		</div>
	</body>
	<script>
		
		function openDBForm(source) {
			$('#dbForm')[0].reset();
			$('#dbFromModal').modal('show');
			modal_title =`Connect ${source} Database`;
			$('#dbform_modal_title').text(modal_title);
			$('#drivername').val(source);
		}
		function openFileField(source) {
			$('#file_input').val('');
			$('#file_input').click();
			$('#file_input').change(function(event) {
				event.preventDefault();
				var file = event.target.files[0];
				var formData = new FormData();
				formData.append('file', file);
				formData.append('source',source);
				$.ajax({
					url: "/showSheets",  
					data: formData,
					type: 'POST',
					processData: false,  
					contentType: false,  
					success: function(response) {
						var sheet_names = response.sheets;
						console.log(sheet_names);
						if(response.error){
							$('#error_message_field').empty();
							console.log("error sheet exec");
							table = '<div><p style ="color:red">'+response.error+'</p></div>';
							$('#error_message_field').append(table);
							$('#tablelist').modal('hide');
							$('#errormodal').modal('show');
						}
						else{
							$("#checkboxFields").empty();
							$('#searchField').val('');
							for(let sheet in sheet_names){
							sheet = '<div class ="form-check" ><input class="form-check-input"type = "checkbox" value="'+sheet_names[sheet]+'">'+sheet_names[sheet]+'</div>';
							$('#checkboxFields').append(sheet);
							$('#tablelist').modal('show');	
							}
						}
							
					}
				});
			});
		}	
		$('document').ready(function(){
			$("#submitbtn").click(function(event) {
				// if (form.checkValidity() === false) {
				// console.log("bootstrap validation part");
				// } 
				event.preventDefault();
				var driver_name = $('#drivername').val();
				var server_name = document.getElementById('servername').value;
				var db_name = document.getElementById('dbname').value;
				var port = document.getElementById('port').value;
				var user_name = document.getElementById('username').value;
				var password = document.getElementById('password').value;
				data ={
					'driver_name':driver_name,
					'server_name':server_name,
					'database_name':db_name,
					'port':port,
					'user_name':user_name,
					'password':password
				}
				var valuee = $('#source_details').val(JSON.stringify(data));
				$.ajax({url: "/showtables",data:data,type:'POST', success: function(response){
				$('#dbFromModal').modal('hide');
				$('#dbForm')[0].reset();
			
				table_names = response.tables;
				error = 'error' in response.tables;
				if('error' in response.tables){
					table = '<div><p style ="color:red">'+response.tables['error']+'</p></div>';
					$('#checkboxFields').append(table);
				}
				else{
					$("#checkboxFields").empty();
					$('#searchField').val('');
					for(let table in table_names){
					table = '<div class ="form-check" ><input class="form-check-input"type = "checkbox" value="'+table_names[table]+'">'+table_names[table]+'</div>';
					$('#checkboxFields').append(table);
					}
				}
				$('#tablelist').modal('show');
				}});
			});
		});

		$('#searchField').on('keyup', function(){
			var search = $(this).val().toLowerCase();
			if(search.length) {
				$('div.form-check').hide();
				$('.form-check-input').each(function() {
				table_name = $(this).val().toLowerCase();
					if(table_name.indexOf(search) != -1){
						$(this).parent('div.form-check').show();
					}
				});
			} else {
				$('div.form-check').show();
			}
		});
		function sources_details(){
			var db_credential  = $('#source_details').val();
			var selected_tables = [];
			var selected_tables = $(".form-check-input:checkbox:checked").map(function() {
    			return this.value;
			}).get();
			$('#checked_tables').val(selected_tables);
			return true;
		}
		// (function() {
		// 	window.addEventListener('load', function() {
		// 	var forms=document.getElementsByClassName('needs-validation');
		// 	var validation = Array.prototype.filter.call(forms, function(form) {
		// 		form.addEventListener('submit', function(event) {
		// 			if (form.checkValidity() === false) {
		// 				console.log("irt was execue")
		// 				event.preventDefault();
		// 				event.stopPropagation(); 
		// 			}
		// 		form.classList.add('was-validated');
		// 		event.preventDefault();
		// 		}, false);
		// 	});
		// 	}, false);
		// })();
	</script>
</html>
