<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>visualization</title>
		{% include "header.html" %}
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<style>
			.list-group-item.active {
				background-color: #b0b3b7;
				border-color: #b0b3b7;
			}
			.list-group-item{
				padding:0px;
				text-align:left;
			}
			body{
				font-size:15px;
			}
			/* .bar_chartt{
				width:100px;
				height:100px;
			} */
		</style>
	</head>
	<body style="margin-top:50px;">
		<div>{% include "navbar.html" %}</div>
		<div class="d-flex w-100 mh-100 pt-3 pr-3 pl-3" style="column-gap:5px;">
			<div class="col-3" style="border:2px solid #e9ecef;padding-left: 0px;padding-right: 0px;overflow-x:auto" id ="table_list_container">
				<!-- <div class="list-group list-group-flush d-flex flex-row" style="border-bottom:2px solid #e9ecef"> -->
					<div class="overflow-x:hidden" id ="chart_area">
						<button type="button" class="btn btn-outline-secondary btn-sm" id="table_button"><i class="fas fa-table "></i></button>
						<button type="button" class="btn btn-outline-secondary btn-sm" id="chart_button"><i class="fas fa-chart-pie "></i></button>
					</div>
				<!-- </div> -->
				<div class="table_section" style="overflow-x:auto;height:83vh">
					<h5>Tables</h5>
					<div class="list-group list-group-flush" id="table-list">
					</div>
				</div>
			</div>
			<div class="col-2" style="border:2px solid #e9ecef">
				<p> Properties Fields</p>
				<form>
					<div class="form-group">
					  <label for="x-axis">X-axis</label>
					  <select class="form-control form-control-sm" id="x_axis_dropdown">
						<option> Choose Column</option>
					  </select>
					</div>
					<div class="form-group">
						<label for="y-axis">Y-axis</label>
						<input type="text" class="form-control form-control-sm" id="y_axis" placeholder="1">
					  </div>
					<div class="form-group">
						<label for="aggregate">Aggregate Functions</label>
					  <select class="form-control form-control-sm" id="aggregate_column_dropdown">
						<option>Count</option>
						<option>Average</option>
						<option>Sum</option>
						<option>Max</option>
						<option>Min</option>
					  </select>
					</div>
				</form>
				<!-- <div id="chart_data">
					<p>hlo </p>
					<canvas id ="bar_chartt" width="500" height="500"></canvas>
				</div> -->
			</div>
			<div class="col-7" style="border:2px solid #e9ecef;overflow-x:auto; height:87vh;padding:0px;" id="data_visual">
				<table class="table table-sm table-bordered w-100" id="table_data">
					<thead class="thead-light"><tr id="table_header"></tr></thead>
					<tbody id="table-data"><tr></tr></tbody>
				</table>
				<div id="chart_data" style="visibility:hidden" >
					<canvas id ="bar_chart" style="width:500px;height:500px;"></canvas>	
				</div>
			</div>
		</div>	
	</body>
	<script>
		var table_list = {};
		var table_name = [];
		var source_id = "{{source_id}}";
		var limit = 50;
		var current_page = 1;
		var still_has_data = true;
		function getTableList(){
			var data = {
				'source_id':source_id
			};
			$.ajax({
				url: "/gettables",
				data: data,
				type: 'POST',
				success: function(response){
					table_list = response.table_list;
					table_names = Object.keys(table_list);
					getTableData(table_names[0]);
					render_tables(table_names);
				}
			});
		}

		function render_table_headers(column_list) {
			$('#table_header').empty();
			table_header = '';
			var column_dropdown = '';
			var list_column_name ='';
			for(index in column_list){
				table_header += '<th scope="col">'+column_list[index]+'</th>';
				column_dropdown += '<option>'+column_list[index]+'</option>';
				list_column_name += '<input type="checkbox">'+column_list[index]+'';
				list_column_name = '<div>'+list_column_name+'</div>';
				
			}
			$('#table_header').append(table_header);
			$('#x_axis_dropdown').append(column_dropdown);
			return list_column_name;
		}
		function render_table_body(table_data) {
			var table_record ='';
			for(index in table_data) {
				var table_body = '';
				var column = Object.values(table_data[index]);
				for(value in column) {
					table_body +='<td>'+column[value]+'</td>';
				}
				table_record +=`<tr>${table_body}</tr>`;	
			}
			$('#table-data').append(table_record);
			
		}
		function render_tables(table_names) {
			table_elements = '';
			for(index in table_names) {
				var isActive = index == 0 ? 'active' : '';
				var table_name = "'"+table_names[index]+"'";
				var table_index = table_names[index]; 
        		var table_name_for_id = table_index.replace(/\./g, "_"); 
				// table_elements += '<button type="button" class="list-group-item list-group-item-action '+isActive+'" onClick="getTableData('+table_name+')">'+table_names[index]+'</button><div id ="'+table_name_for_id+'"></div>';
				table_elements += '<button type="button" class="list-group-item list-group-item-action'+isActive+'" onClick="getTableData('+table_name+')" data-toggle="collapse" data-target="#'+table_name_for_id+'">'+table_names[index]+'</button><div class="collapse" id="'+table_name_for_id+'" style="font-size:14px;padding-left:10px;"></div>';
			}
			$('#table-list').append(table_elements);
		}

		$('body').on('click', '.list-group-item', function() {
			$('.list-group-item.active').removeClass('active');
			$(this).addClass('active');
			$('#table-data').empty();

			// resetting values
			current_page = 1;
			still_has_data = true;
		});
		function getTableData(table_name){
			$('#x_axis_dropdown').empty();
			render_table_headers(table_list[table_name])
			var column_field_name= table_name.replace(/\./g, "_");
			$('#'+column_field_name).empty(); 
			var table_column_list_name = render_table_headers(table_list[table_name]);
			$('#'+ column_field_name).append(table_column_list_name);
			var data = {
				'source_id': source_id,
				'table_name': table_name,
				'limit': limit,
				'current_page': current_page
			};

			$.ajax({
				url: "/getdata",
				data: data,
				type:'POST',
				success: function(response){
					console.log(response.total_record);
					if(response.data.length == 0){
						console.log("false block executed");
						still_has_data = false;
					}
					if(still_has_data)
						render_table_body(response.data);

				}
			});
		}
		$(document).ready(function(){
			var get_table_result = getTableList();
		});
		$('#data_visual').on('scroll', function() {
			var scrollPercentage = ($(this).scrollTop() / ($(this)[0].scrollHeight - $(this)[0].clientHeight)) * 100;
			if (scrollPercentage >= 90 && still_has_data) {
				current_page += 1;
				table_name = $('.list-group-item.active').text();
				getTableData(table_name);
			}
		});
		$('#chart_button').click(function(){
			$('#table_data').hide();
			$('#chart_data').show();	
			$('#chart_data').css({"visibility":"visible"});

			$.ajax({
				url:"/barchart/{{source_id}}",
				data:{'source_id':35},
				type:'POST',
				success: function(response){
					barchart(response);
				}
			})
		});
		$('#table_button').click(function(){
			$('#table_data').show();
			$('#chart_data').hide();
		});
		function barchart(response){
			var x_values = response.x_axis;
			var y_values = response.y_axis;
			console.log("xval--->",x_values);
			console.log("yval--->",y_values);
			var id = "chart_data";
			var ctx = document.getElementById('bar_chart'); 
			new Chart(ctx, { 
				type: 'bar', 
				data: { 
				labels: x_values, 
				datasets: [{ 
					label: x_values, 
					backgroundColor: 'rgb(255, 100, 200)', 
					borderColor: 'rgb(55, 99, 132)', 
					data: y_values, 
				}] 
				}, 
				options: {
				responsive: false,
				scales: {
				y: {
					beginAtZero: true
				}
				}
				}
			}); 

		}
	</script>
</html>