<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>visualization</title>
		{% include "header.html" %}
		<style>
			.list-group-item.active {
				background-color: #b0b3b7;
				border-color: #b0b3b7;
			}
		</style>
	</head>
	<body style="border:2px solid #e9ecef;margin-top:50px;">
		<div>{% include "navbar.html" %}</div>
		<div class="d-flex w-100 mh-100 pt-3 pr-3 pl-3" style="column-gap:5px;">
			<div class="col-2" style="border:2px solid #e9ecef">
				<p> Properties Fields</p>
			</div>
			<div class="col-8" style="border:2px solid #e9ecef;overflow-x:auto; height:87vh;padding:0px;" id="data_visual">
				<table class="table table-sm table-bordered w-100" id ="table_data">
					<thead class ="thead-light"><tr id ="table_header"></tr></thead>
					<tbody id ="table-data"><tr></tr></tbody>
				</table>
			</div>
			<div class="col-2" style="border:2px solid #e9ecef;padding-left: 0px;padding-right: 0px;">
				<h5>Tables</h5>
				<div class="list-group list-group-flush" id="table-list">
				</div>
			</div>
		</div>	
	</body>
	<script>
		var table_list = {};
		var table_name = [];
		var source_id = "{{source_id}}";
		var limit = 50;
		var current_page = 1;
		var still_has_data = true;
		function getTableList(){
			var data = {
				'source_id':source_id
			};
			$.ajax({
				url: "/gettables",
				data: data,
				type: 'POST',
				success: function(response){
					table_list = response.table_list;
					table_names = Object.keys(table_list);
					getTableData(table_names[0]);
					render_tables(table_names);
				}
			});
		}

		function render_table_headers(column_list) {
			$('#table_header').empty();
			table_header = '';
			for(index in column_list){
				table_header += '<th scope="col">'+column_list[index]+'</th>'; 
			}
			$('#table_header').append(table_header);
		}
		function render_table_body(table_data) {
			var table_record ='';
			for(index in table_data) {
				var table_body = '';
				var column = Object.values(table_data[index]);
				for(value in column) {
					table_body +='<td>'+column[value]+'</td>';
				}
				table_record +=`<tr>${table_body}</tr>`;	
			}
			$('#table-data').append(table_record);
			
		}
		function render_tables(table_names) {
			table_elements = '';
			for(index in table_names) {
				var isActive = index == 0 ? 'active' : '';
				var table_name = "'"+table_names[index]+"'";
				table_elements += '<button type="button" class="list-group-item list-group-item-action '+isActive+'" onClick="getTableData('+table_name+')">'+table_names[index]+'</button>';
			}
			$('#table-list').append(table_elements);
		}

		$('body').on('click', '.list-group-item', function() {
			$('.list-group-item.active').removeClass('active');
			$(this).addClass('active');
			$('#table-data').empty();

			// resetting values
			current_page = 1;
			still_has_data = true;
		});

		function getTableData(table_name){
			render_table_headers(table_list[table_name]);
			var data = {
				'source_id': source_id,
				'table_name': table_name,
				'limit': limit,
				'current_page': current_page
			};

			$.ajax({
				url: "/getdata",
				data: data,
				type:'POST',
				success: function(response){
					console.log(response.total_record);
					if(response.data.length == 0)
						console.log("value")
						still_has_data = false;

					if(still_has_data)
						comsole.log("the statement exec")
						render_table_body(response.data);
				}
			});
		}
		$(document).ready(function(){
			var get_table_result = getTableList();
		});
		$('#data_visual').on('scroll', function() {
			var scrollPercentage = ($(this).scrollTop() / ($(this)[0].scrollHeight - $(this)[0].clientHeight)) * 100;

			if (scrollPercentage >= 90 && still_has_data) {
				current_page += 1;
				table_name = $('.list-group-item.active').text();
				console.log(table_name)
				getTableData(table_name);
			}
		});
	</script>
</html>